@use "./variables" as var;

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

input,
select {
  border: none;
  padding: 10px 10px;
}

input[type="submit"] {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}
