// フォント
$base-font-color: black;
$base-font-size: 16px;
$base-header-font-size: 24px;

// カラー
$base-main-color: #3ab8e4;
$base-background-color: #d9d9d9;

// ボタン
$base-button-radius: 10px;
$base-button-font-color: #FFFFFF;
