@use "../../commons/variables" as var;

.sign-in {
  max-width: 800px;
  background-color: var.$base-background-color;
  margin-top: 90px;
  padding: 50px 0;

  &__container {
    width: 62.5%;
    margin: 0 auto;
  }

  &__heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__thumbnail {
    max-width: 60px;
    max-height: 60px;
  }

  &__title {
    font-size: 36px;
    font-weight: normal;
  }

  &__form {
    margin-top: 40px;
  }

  &__field {
    &:not(:first-child) {
      margin-top: 36px;
    }
  }

  &__label {
  }

  &__input {
    width: 100%;
  }

  &__actions {
    margin-top: 52px;
  }

  &__submit {
    width: 100%;
    background-color: var.$base-main-color;
    color: var.$base-button-font-color;
    border-radius: var.$base-button-radius;
  }

  .password-forget__link {
    a {
      color: var.$base-link-font-color;
    }
  }

  .sign-up__link {
    a {
      color: var.$base-link-font-color;
    }
  }
}
