- if notice
  .notice__container
    = check_box_tag :cross
    %label.icon(for="cross")
      %span.icon__cross.notice__cross
    %p.notice #{notice} 

- if alert
  .alert__container
    = check_box_tag :cross
    %label.icon(for="cross")
      %span.icon__cross.alert__cross
    %p.alert #{alert}


-# <% if notice %>
-# <div class="container">
-#   <div class="notice-message">
-#     <%= notice %>
-#   </div>
-# </div>
-# <% end %>
-# <% if alert %>
-# <div class="container">
-#   <div class="alert-message">
-#     <%= alert %>
-#   </div>
-# </div>
-# <% end %>